*.pyc
*.log
arches_lingo/logs
arches_lingo/export_deliverables
arches_lingo/cantaloupe/*
arches_lingo/staticfiles
arches_lingo/media/packages
arches_lingo/media/node_modules
arches_lingo/media/build/
arches_lingo/uploadedfiles/*
arches_lingo/settings_local.py
arches_lingo/webpack/webpack-stats.json
arches_lingo/webpack/webpack-user-config.js
.vscode/
*.egg-info
.DS_STORE
CACHE